.resources__link {
opacity: 1;
transition: opacity .2s ease-in;
-webkit-transition: opacity .2s ease-in;
-moz-transition: opacity .2s ease-in;
-o-transition: opacity .2s ease-in;
}

.resources__link:visited {
color: #626262;
}

.resources__link:hover {
opacity: .7;
}