.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    padding: 0 0 16px;
    text-decoration: none;
    opacity: 1;
    transition: opacity .2s ease-in;
    -webkit-transition: opacity .2s ease-in;
    -moz-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in;

  }

.footer__column-link:visited {
    color: white;
}

.footer__column-link:hover {
    opacity: .7;
}