/* ---General styling and perameters___ */
/* .page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  box-sizing: border-box;
}

/* ---Header Section---
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 154px;
  height: 31px;
  z-index: 1;
}

.header {
  height: 100vh;
  max-height: 756px;
  position: relative;
  display: flex;
  background-color: #f2f2f2;
  overflow: hidden;
}

.header__title {
  max-width: 730px;
  margin: 0 0 0 64px;
  align-self: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.header__subtitle {
  max-width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
  margin: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link:visited {
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  transform: rotate(-15deg);
}


/* ---Description Section--- 
.description {
  display: flex;
  justify-content: center;
  padding: 100px 0 0;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  margin-top: 0;
  max-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
} 

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

/* ---Digits Section---
.digits {
  position: relative;
  padding: 100px 0;
} 

.section-title {
  margin: 0 auto;
  max-width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  margin: 20px auto 0;
  text-align: center;
  max-width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}



.table {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.table__cell {
  list-style: none;
  margin-top: 60px;
  width: 250px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
  margin: 0;
}

.table__text {
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 20px;
  margin: 0;
}

.table__text:last-of-type {
  padding: 0;
}

/* ---Feynman section---

.feynman {
  position: relative;
  min-height: 790px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 867px 637px;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  max-width: 775px;
  text-align: center;
  margin: 0 auto;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 70px auto 0;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__link:visited {
  color: #2f80ed;
}

/* ---Kaufman section--- */

.kaufman {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #1f1f1f;
  padding: 90px 0;
}

.section-title_theme_dark {
  color: white;
  position: relative;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  position: relative;
  z-index: 1;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
}

.table__heading_theme_dark {
  color: white;
  position: relative;
  z-index: 1;
}

.table__text_theme_dark {
  color: white;
  position: relative;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  background-image: url("../images/kaufman-triangle.svg");
  background-repeat: no-repeat;
  background-size: 877px 877px;
}

/* ---Footer---*/

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  padding: 60px 0 40px;
  position: relative;
  display: flex;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin: 18px 0;
}

.footer__column-heading {
  line-height: 45px;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding-bottom: 20px;
}

.footer__column-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  padding: 0 0 16px;
  text-decoration: none;
}

.footer__social-icon {
  padding-right: 10px;
}




/*
.techniques {
  padding: 100px 0;
  position: relative;
} 

.cards {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}


.cards__item {
  width: 240px;
  list-style: none;
  text-align: center;
  padding: 0 0 60px;
  margin: 0 100px 0 0;
}

.cards__item:nth-child(3n) {
  margin: 0;
}

.cards__image {
  padding: 60px 40px 43px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}


.cards__title {
line-height: 1.15;
font-size: 24px;
font-weight: bold;
margin: 0;
padding-bottom: 16px;
}

.cards__description {
  margin: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}
*/

.resources {
  position: relative;
  padding: 100px 0 217px;
}

.resources__logo-zone {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  margin-top: 80px;
}

.resources__logo {
  width: 270px;
  height: 38px;
}



.khan {
  position: relative;
  box-sizing: border-box;
  padding-top: 105px;
  margin-bottom:-340px;
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.khan__quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
  margin: 50px 0 36px;
}


.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 60px;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  width: 620px;
  margin: 0 48px 0 0;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color:#2f80ed;
  margin: 0;
  text-decoration: none;
}





/*
.videos {
  position: relative;
}

.video__iframes {
  margin: 50px 0 -30px;
  text-align: center;
}

.video__iframe {
  padding-right: 20px;
  border: none;
  width: 515px;
  height: 316px;
}

.video__iframe:nth-child(2n) {
  padding-right: 0px;
}






.oakley {
  background-color:#f2f2f2;
  padding: 160px 0 80px;
  display: flex;
  justify-content: center;
}


*/