.khan__buy-link {
  
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color:#2f80ed;
  margin: 0;
  text-decoration: none;
  opacity: 1;
  transition: opacity .2s ease-in;
  -webkit-transition: opacity .2s ease-in;
  -moz-transition: opacity .2s ease-in;
  -o-transition: opacity .2s ease-in;
}
  
.khan__buy-link:visited {
  color: #2f80ed;
  }

.khan__buy-link:hover {
  opacity: .7;
}